body {
  margin: 0;
  background-color: rgb(56, 56, 56);
}
.nav {
  background-color: rgb(255, 255, 255);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  height: 15%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.nav ul {
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
}
.site-title {
  font-size: 400%;
  color: rgb(0, 0, 0);
}

img {
  width: 70%;
  height: 70%;
  border-radius: 8px;
  margin-left: 800px;
  margin-top: -500px;
}

.greeting {
  font-size: 600%;
}

.intro {
  font-size: 900%;
}

.links {
  color: black;
  font-size: 150%;
}

.description {
  font-size: 150%;
  white-space: wrap;
}
